In [18]:
from dateutil.parser import parse

def date_function(array):
    for item in array:
     dt = parse(item)
     #print(dt)
     print(dt.strftime('%d/%m/%Y'))

In [14]:
Some_dirty_dates = ['11/23/2015', '11-15-2015', '2015-12-24 06:23:00', 'Jan-15', '13-Jun-2015']

In [15]:
Some_dirty_dates

['11/23/2015', '11-15-2015', '2015-12-24 06:23:00', 'Jan-15', '13-Jun-2015']

In [19]:
date_function(Some_dirty_dates)

23/11/2015
15/11/2015
24/12/2015
15/01/2016
13/06/2015

Reading all text files in a directory into a Pandas df:

In [21]:
import pandas as pd
import glob

In [94]:
filelist = []
for files in glob.glob("*.txt"):
    filelist.append(files)

In [95]:
df_list = [pd.read_table(file) for file in filelist]
big_df = pd.concat(df_list)

In [96]:
big_df

,1,14
0,NaN,----------------------------------------------...
1,NaN,Monkey Thai isn't taking orders right now.
2,NaN,Monkey Thai Menu
3,NaN,Popular Items
4,NaN,Pad Thai
5,NaN,$8.95+
6,NaN,"Pan-fried rice noodles with egg, tofu and bean..."
7,NaN,Tom Kha Soup
8,NaN,$8.95+
9,NaN,"Coconut milk soup with fresh mushroom, onion, ..."
10,NaN,Satay
11,NaN,$7.00
12,NaN,Marinated grilled chicken served with peanut s...
13,NaN,Winging
14,NaN,$7.00
15,NaN,Fried chicken wing topped with crispy Thai bas...
16,NaN,Fresh Roll
17,NaN,$6.00
18,NaN,"Fresh tofu, carrot, cucumber, Thai noodle and ..."
19,NaN,Roll
20,NaN,$7.00
21,NaN,"Deep fried roll with cabbage, carrot and mushr..."
22,NaN,Yellow Curry
23,NaN,$8.95+
24,NaN,"Yellow curry with coconut milk, potatoes, onio..."
25,NaN,Panang Curry
26,NaN,$8.95+
27,NaN,"Panang curry with coconut milk, peanut sauce, ..."
28,NaN,Thai Ice Tea
29,NaN,$2.00
...,...,...
15352,Lunch Combo for 2,NaN
15353,$19.95,NaN
15354,"Chicken teriyaki, shrimp and vegetable tempura...",NaN
15355,Lunch Combo for 3,NaN
15356,$29.95,NaN
15357,"Chicken teriyaki, salmon teriyaki, deluxe temp...",NaN
15358,Bento Box Lunch Special,NaN
15359,$8.50,NaN
15360,"Choice of two items. Served with miso soup, sa...",NaN
15361,See a discrepancy? Click here to report it.,NaN
15362,Restaurant Contact Info and Address,NaN
15363,61 Ratings,NaN
15364,161 Yelp reviews,NaN
15365,Much faster than the time frame they give and ...,NaN
15366,33 Reviews,NaN
15367,"Full Hours, Cuisines, More Info...",NaN
15368,510-281-9156,NaN
15369,"2017 Shattuck Ave Berkeley, CA",NaN
15370,0.1 miles away,NaN
15371,FRIDAY,NaN
15372,Not taking orders at this time.,NaN
15373,5:00 PM - 9:15 PM,NaN
15374,DELIVERY,NaN
15375,Delivery $1.50,NaN
15376,Minimum $ 15.00,NaN
15377,PICKUP,NaN
15378,Available,NaN
15379,Pickup Available,NaN
15380,Show map,NaN
15381,----------------------------------------------...,NaN

Convert to boolean

In [85]:
x = ['1','0','1','0','0','1','1','0']

In [86]:
def convert_bool(arr):
    bool_arr=[None] * len(arr)
    for i in range (0,len(arr)):
        arr[i]=int(arr[i])
        #print "The value to be converted into bool is %d" %arr[i]
        #print bool(arr[i])
        bool_arr[i] = bool(arr[i])
    return bool_arr

In [87]:
convert_bool(x)

[True, False, True, False, False, True, True, False]